/BensoftGermanWiktionary$GermanWordType.class
/BensoftGermanWiktionary$SynthesizeWord.class
/BensoftGermanWiktionary$WiktionaryWordInfoAPI$Utils.class
/BensoftGermanWiktionary$WiktionaryWordInfoAPI.class
/BensoftGermanWiktionary.class
/Unified.class
/package-info.class
